.dan-u-sedmici{
    border-top: 1px dotted;
}
.kombinacija{
    background-color: lightgrey;
    color:black;
}
.prva-kol{
    border-top: 0 none;
}
.predavanje{
    background-color: lightgoldenrodyellow;
    color: darkorange;
}
.tabela-naslov{
    text-align: center;
    border-bottom: none;
}
.tabela-ispod{
    margin-bottom: 5%;
}
.Tabela1{
    float: left;
    width: 45%;
    padding-left: 2%;
}
.manji-naslov{
    width: 25%;
}
.veci-naslov{
    width: 50%;
}
table{
    border-collapse: collapse;
    width: 100%;
    padding: 0 5%;
}
table, th, td{
    border: 1px solid black;
}
th{
    height:10px;
    text-align: left;
    background-color: #d0e8f7;
    
}
th, td {
    padding: 10px;
    text-align: center;
}
.Tabela2{
    float: right;
    width: 50%;
    padding-right: 2%;
}
.tutorijal{
    background-color: lightblue;
    color:darkblue;
}
.vjezba{
    background-color: lightgreen;
    color:darkgreen;
}