
.forma {
    width: 50%;
    margin: 0 auto;
    background-color: #d0e8f7;
    padding: 30px;
    box-shadow: 5px 5px 5px darkgrey;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form {
    text-align: left;
    padding: 15px;
    width: 70%  ;
}

form input, select, textarea{
    width: 180px;
    border-radius: 5px;
}

form div {
    padding: 10px;
}
.item p{
    font-family: 'Roboto', sans-serif;
    color:#3787bf;
    display: inline-block;
    padding-right: 5%;
}
input[type="radio"]{
    display: inline-block;
    width: 13px;
}
input[type="submit"]{
    height: 30px;
    font-family: 'Roboto', sans-serif;
    color:#3787bf;
}
textarea{
    position: absolute;
    resize: none;
    border-radius: 5px;
}