.item, .container{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.laboratorija{
    background-color: #d0e8f7;
    padding: 10px;
    border: 2px solid rgb(175, 103, 243);
    border-radius: 5px;
    margin:0 auto;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 70px 70px 70px 70px;
    grid-template-areas: "slika1 oprema slika2"
                         "slika1 oprema slika2"
                         "slika1 oprema slika2"
                         "prvaGod opis opis"    
                         "drugaGod opis opis";
}

.Slika1{
    font-size: 0;
    text-align: center;
    padding-left:0;
    padding-right: 0;
    padding-bottom: 0;
    grid-area: slika1;
}
.Slika1 img{
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.oprema{
    grid-area: oprema;
    text-align: center;
}
.oprema p{
    font-weight: bold;
}
.oprema ul{
    list-style-type: none;
    padding: 0;
}
.Slika2{
  font-size: 0;
  text-align: center;
  padding-left:0;
  padding-right: 0;
  padding-bottom: 0;
  grid-area: slika2;
}
.Slika2 img{
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.prvaGodina{
    grid-area: prvaGod;
    text-align: left;
    padding-left:10px;
}
.drugaGodina{
    grid-area: drugaGod;
    text-align: left;
    padding-left:10px;
}
.prvaGodina ul, .drugaGodina ul{
    list-style-type: none;  
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.prvaGodina ul li, .drugaGodina ul li{
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0;
}
.prvaGodina p, .drugaGodina p{
    font-weight:bold;
}
.opis{
    grid-area: opis;
    text-align: center;
}
.opis p{
    padding: 4px 0;
}