.container{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.kartice{
    margin:0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: ". profesor . profesor2 ."
                         "asistent . asistent2 . asistent3";
}

.kartica-profesor,.kartica-profesor2,.kartica-asistent, .kartica-asistent2, .kartica-asistent3 {
    border: 2px solid rgb(175, 103, 243);
    border-radius: 5px;
    box-shadow: 5px 10px #bee3fa;
    text-align: center;
}
.kartica-profesor{
    background-color: #3787bf;
    grid-area: profesor;
}
.kartica-profesor2{
    background-color: #3787bf;
    grid-area: profesor2;
}
.kartica-asistent{
    background-color: #d0e8f7;
    grid-area: asistent;
}
.kartica-asistent2{
    background-color: #d0e8f7;
    grid-area: asistent2;
}
.kartica-asistent3{
    background-color: #d0e8f7;
    grid-area: asistent3;
}
.kartica-profesor p,.kartica-profesor2 p, .kartica-asistent p, .kartica-asistent2 p, .kartica-asistent3 p{
    font-weight: bold;
    text-decoration-color: blue;
}
.kartica-profesor ul, .kartica-profesor2 ul, .kartica-asistent ul, .kartica-asistent2 ul, .kartica-asistent3 ul{
    list-style-type: none;  
    padding: 0;
}
.kartica-profesor ul li, .kartica-profesor2 ul li, .kartica-asistent ul li, .kartica-asistent2 ul li, .kartica-asistent3 ul li{
    display: inline-block;
}
.Slika{
    background-image: url("img/kartica.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding:5%;
}
.Slika img{
    width:108px;
    height: 192px;
}


















/*.container{
    width: 100%;
    display: inline-block;
    flex: 65%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
}

.grid-item{
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
}

.grid-item .slika{
    background-color: #ccc;
    color: #444;
    width: 108px;
    height: 192px;
}
.grid-item .slika img{
    width:inherit;
    height: inherit;
}*/
