.container{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.Lista1, .Slika, .Lista2{
    flex:20%;
    padding: 5%;
}
.predmeti{
    list-style-type: none;
    padding: 0;
}
.row {  
    display: flex;
    flex-wrap: wrap;
}
.Slika{
  font-size: 0;
  text-align: center;
  padding-left:0;
  padding-right: 0;
  padding-bottom: 0;
}
.Slika img{
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
