* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-image: url("pozadina.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    clear: both;
    position: relative;
    padding: 1% 0;
    background-color: #bee3fa;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer p {
    display: inline;
    margin: 0;
    font-style: italic;
    padding: 0 10px;
}
.float-clear {
    clear: both;
}
.header{
    position: relative;
    margin:0 ;
    padding:0;
    height: 15%;
    overflow: hidden;
    background-color: #bee3fa;
}
.header .naslov{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    float: right;
    font-size:20px;
    position: absolute;
    top:17px;
    right:16px;
    color:#3787bf;
}
.logo {
    text-align: left;
    display: inline-block;
    padding: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.meni{
    text-align: center;
    font-size: 20px;
    background-color: #d0e8f7;
    padding: 4px 0;
}
.meni ul {
    list-style-type: none;  
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.meni ul li {
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0;
}
.naslov {
    text-align: right;
    display: inline-block;
    width: 60%;
}